# ROS2 workspace artefacts
build/
install/
log/

# Python cache
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# Local configuration (if any)
*.local.yaml
*.log

# Virtual Enviroment
*.venv

# hide robot code
waiter_robot_node.py

